body {
	background: black;
}

/* * {
	border: 1px dashed red;
	min-height: 10px;
}*/
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap");

.postcard {
	background: white;
	width: 480px;
	height: 320px;
	margin: auto;
	padding: 10px;
	font-family: "Kalam", cursive;
}
.postcard-header {
	display: flex;
}
.postcard-header img {
	width: 50px;
	height: 50px;
}
.postcard-header h1 {
	width: 350px;
	margin: 0;
}

.postcard-body {
	display: flex;
}
.body-left,
.body-right {
	padding: 5px;
}
.postcard-body p {
	margin-top: 0;
	margin-bottom: 10px;
	font-size: 18px;
}
.postcard-footer {
	text-align: center;
}
.postcard-footer button {
	background-color: #aaa;
	padding: 4px;

	font-size: 13px;
}
